In [37]:
import pandas as pd
import numpy as np
from pathlib import Path

In [38]:
root_path = Path('../')
monthly_return_path = root_path / 'data' / 'monthly_returns.pkl'
monthly_return = pd.read_pickle(monthly_return_path).reset_index()
monthly_return = monthly_return.melt(
    id_vars=["date"],
    var_name="asset",
    value_name="return"
)
monthly_return['date'] = pd.to_datetime(monthly_return['date'])
monthly_return = monthly_return[(monthly_return['date'] >= '2014-01-01') & (monthly_return['date'] <= '2024-12-31')]
monthly_return

              date      asset    return
227     2014-01-31  000001.SZ -0.069388
228     2014-02-28  000001.SZ -0.023684
229     2014-03-31  000001.SZ -0.032345
230     2014-04-30  000001.SZ  0.034355
231     2014-05-31  000001.SZ  0.032316
...            ...        ...       ...
1909185 2024-04-30  T00018.SH  0.000000
1909186 2024-05-31  T00018.SH  0.000000
1909187 2024-06-30  T00018.SH  0.000000
1909188 2024-07-31  T00018.SH  0.000000
1909189 2024-08-31  T00018.SH  0.000000

[688384 rows x 3 columns]